body{
    font-family: sans-serif;
    background-color: bisque;
}
#main-heading{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 520px;
    margin-left: 29%;
}
#discription{
    padding: 4px;
    /* display: flex;
    flex-direction: column; */
    border-top: solid rgb(129, 129, 129) 5px;
    border-bottom: solid rgb(129, 129, 129) 5px;
    width:513px;
}
#discription textarea{
    width:60%;
    border: none;
}
#discription textarea:focus{
    outline: none;
}
#category-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: solid rgb(129, 129, 129) 5px;
    width:513px;
    height: 65px;
}
.form-block{
    color: rgb(100, 99, 99);
    display: flex;
    flex-direction: column;
}
select{
    border: none;
    cursor: pointer;
}
select:focus{
    outline: none;
}
.form-block input{
    border: none;
    cursor: pointer;
}
.form-block input:focus{
    outline: none;
}
#btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    border-bottom: solid rgb(129, 129, 129) 5px;
    width:513px;
    height: 65px;
}
#btn button{
    height: 40px;
    width: 100px;
    cursor: pointer;
}
#add-task{
    background-color: green;
    color: white;
    border: none;
    border-radius: 10%;
}
#delete-task{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10%;
}
.list-item{
    padding: 4px;
    border-top: solid 2px rgb(96, 94, 94);
    border-bottom: solid 2px rgb(96, 94, 94);
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #ffff;
    width:517px;
    margin-left: 325px;
    margin-top: 2px;
}
.list-item:hover{
    background-color: #efefef;
    cursor: pointer;
}
.check-box{
    width: 10%;
}
.dis-date{
    width: 90%;
    color: rgb(191, 178, 178);
    font-size: 10px;
}
.dis-date .disc{
    margin-bottom: 0px;
    color: rgb(109, 107, 107);
    font-size: 15px;
}
.cat-egory{
    width: 20%;
    text-align: center;
    border: solid black 1px;
}